In [1]:
import pandas as pd
insurance = pd.read_csv("insurance.csv")
insurance.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [2]:
# Replacing string values to numbers
insurance['sex'] = insurance['sex'].apply({'male':0,      'female':1}.get) 
insurance['smoker'] = insurance['smoker'].apply({'yes':1, 'no':0}.get)
insurance['region'] = insurance['region'].apply({'southwest':1, 'southeast':2, 'northwest':3, 'northeast':4}.get)

In [3]:
# import seaborn as sns
# # Correlation betweeen 'charges' and 'age' 
# sns.jointplot(x=insurance['age'],y=insurance['charges'])

In [4]:
# # Correlation betweeen 'charges' and 'smoker' 
# sns.jointplot(x=insurance['age'],y=insurance['charges'])

In [5]:
# features
X = insurance[['age', 'sex', 'bmi', 'children','smoker','region']]
# predicted variable
y = insurance['charges']

In [6]:
# importing train_test_split model
from sklearn.model_selection import train_test_split
# splitting train and test data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4)

In [7]:
# importing the model
from sklearn.linear_model import LinearRegression
model = LinearRegression()
# Fit linear model by passing training dataset
model.fit(X_train,y_train)

LinearRegression()

In [8]:
# Predicting the target variable for test datset
predictions = model.predict(X_test)

In [9]:
# Predict charges for new customer : Name- Frank
data = {'age' : 40,
        'sex' : 1,
        'bmi' : 45.50,
        'children' : 4,
        'smoker' : 1,
        'region' : 3}
index = [1]
frank_df = pd.DataFrame(data,index)
frank_df

   age  sex   bmi  children  smoker  region
1   40    1  45.5         4       1       3

In [10]:
prediction_frank = model.predict(frank_df)
print("Medical Insurance cost for Frank is : ",prediction_frank)

Medical Insurance cost for Frank is :  [39186.03256589]

In [12]:
import pickle

In [13]:
filename = 'finalized_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [17]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, y_test)
print(result)

0.7743627497004789